.links {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.intro1, prolist, a.prolink  {
    align-items: center;
    color: black;
    margin-right: 25px;
    flex-wrap: wrap;
    font-size: 17px;
    
}

a.prolink:hover {
    color: chocolate !important;
    font-size: 19px;
}

.footer {
    background-image: url("../Images/alpha.jpg");
}

.footicons {
    width: 35px;
    height: 35px;
}