* {
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 25px;
    
}

body {
    background: black;
}

h2 {
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 32px;
    text-decoration: underline;
}

span {
    color: chocolate;
    font-size: 16px ;
    text-decoration: underline;
}

nav {
    display: flex;
    background: black;
    justify-content: center;
    color: whitesmoke;
}

a {
    color: chocolate;
    font-weight: bold;
}

a:hover {
    color: wheat;
}

.links {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.link {
    margin-right: 25px;
    flex-wrap: wrap;
}

.intro {
    background-image: url("../Images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    padding: 3%;
}

.work-link1 {
    list-style-type: circle;
    align-items: center;

}

.dp {
    width: 180px;
    height: 270px;
    border-radius: 40%;
}