* {
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
    text-decoration: underline;
    line-height: 60px;
}

nav {
    display: flex;
    background: black;
    justify-content: center;
    color: whitesmoke;
    padding: 8px;
}

a {
    color: chocolate;
    font-weight: bold;
}

a:hover {
    color: wheat;
}

.links {
    display: grid;
    list-style-type: none;
    align-items: center;
}

.prolist {
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
}

a.prolink  {
    color: black;
    font-size: 17px;
}

a.prolink:hover {
    color: chocolate !important;
    font-size: 19px;
}


.intro {
    background-image: url("../Images/alpha.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    justify-content: center;
    padding: 2%;
}

.work-link1 {
    line-height: 40px;
    list-style-type: none;
    align-items: center;
}

.footer {
    background-image: url("../Images/alpha.jpg");
}

.footicons {
    width: 30px;
    height: 30px;
    padding: 0px 10px;
}

.flinks {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
